.DS_Store
node_modules
/build
/.svelte-kit
.pnpm-store/
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


docker-compose.override.yml
yarn-error.log

$houdini
