@charset "utf-8";

@import "bulma/sass/utilities/initial-variables.sass";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FF19B4;
$pink-hot: #FF00AB;
$green: #15B200;
$green-lighter: #3AC900;
$green-darker: #548A4D;
$grey-dark: #8a677f;
$grey-light: #c492b4;
$yellow: #FCE00A;
$red: #D12223;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

$primary: $purple;
$link: $pink-hot;
$link: $green-darker;
$info: $pink;
$success: $green-lighter;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $grey-light;
$control-border-width: 2px;
// $input-border-color: transparent;
$input-shadow: none;
$navbar-breakpoint: $tablet;

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/breadcrumb.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/notification.sass";
@import "bulma/sass/elements/progress.sass";
@import "bulma/sass/elements/table.sass";
@import "bulma/sass/elements/tag.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/grid/tiles.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
