<form on:submit|stopPropagation|preventDefault="fire('submit', memberEdit)" >
  <TextField horizontal
    label='Alias'
    placeholder='Thatcher'
    value={_member.name || ''}
    on:change="fieldChange('name', event)"
  >
    <TextField horizontal
      label='Full name'
      placeholder='Thatcher Peskens'
      value={_member.fullname || ''}
      on:change="fieldChange('fullname', event)"
    />
  </TextField>
  <EmailField horizontal
    label='Email'
    placeholder='thatcher@example.com'
    value={_member.email || ''}
    on:change="fieldChange('email', event)"
  />
  <TextField horizontal
    label='Phone'
    placeholder='+31 000 0000 000'
    value={_member.phone || ''}
    on:change="fieldChange('phone', event)"
  />

  <TextField horizontal
    label='Street'
    placeholder='Dorpstraat'
    value={_member.streetname || ''}
    on:change="fieldChange('streetname', event)"
  >
    <TextField horizontal
      label='Number'
      placeholder='42'
      value={_member.housenumber || ''}
      on:change="fieldChange('housenumber', event)"
    />
    <TextField horizontal
      label='Addon'
      placeholder='A'
      value={_member.housenumberaddon || ''}
      on:change="fieldChange('housenumberaddon', event)"
    />
  </TextField>
  
  <TextField horizontal
    label='Zipcode'
    placeholder='2134AA'
    value={_member.zipcode || ''}
    on:change="fieldChange('zipcode', event)"
  >
    <TextField horizontal
      label='City'
      placeholder='Harare'
      value={_member.city || ''}
      on:change="fieldChange('city', event)"
    />
  </TextField>

  <TextField horizontal
    label='Country'
    placeholder='Zimbabwe'
    value={_member.country || ''}
    on:change="fieldChange('country', event)"
  />

  <input class='button' type="submit" value="Submit" />
  <pre>
    {JSON.stringify(memberEdit, null, 2)}
  </pre>
</form>

<script>
import {
  TextField,
  DateField,
  EmailField,
  // InputGroup,
  // InputControl,
} from 'svelte-bulma-forms/module'

export default {
  components: {
    TextField, 
    EmailField,
    // InputGroup,
    // InputControl,
  },
  data() {
    return {
      memberEdit: {}
    }
  },
  computed: {
    _member: ({ memberEdit, member }) => ({
      ...member,
      ...memberEdit
    })
  },
  methods: {
    // save(event) {
    //   event.stopPropagation()
    //   event.preventDefault()

    //   const {memberEdit} = this.get()
    //   this.store.addmember(memberEdit)
    // },
    fieldChange(name, value) {
      const { memberEdit } = this.get()
      this.set({
        memberEdit: {
          ...memberEdit,
          [name]: value
        }
      })
    }
  }
}
</script>