<form on:submit|preventDefault|stopPropagation="fire('submit', memberEdit)" disabled='{loading}' >

  <fieldset>
    <legend>Name & Contact</legend>

    <TextField horizontal
      label='Alias'
      placeholder='Wikkert'
      required
      value={_member.name || ''}
      disabled={loading}
      on:change="fieldChange('name', event)"
    />


    <InputGroup label='Name' horizontal>
      <TextField horizontal
        placeholder='Wikkert'
        value={_member.firstname || ''}
        disabled={loading}
        on:change="fieldChange('firstname', event)"
      />
      <TextField horizontal
        placeholder='Olbodo'
        value={_member.lastname || ''}
        disabled={loading}
        on:change="fieldChange('lastname', event)"
      />
    </InputGroup>

    <EmailField horizontal
      label='Email'
      placeholder='wikkert@wolbodo.nl'
      value={_member.email || ''}
      disabled={loading}
      on:change="fieldChange('email', event)"
    />
    <TextField horizontal
      label='Phone'
      placeholder='+31 000 0000 000'
      value={_member.phone || ''}
      disabled={loading}
      on:change="fieldChange('phone', event)"
    />
  </fieldset>

  <fieldset>
    <legend>Address info</legend>

    <TextField horizontal
      label='Address'
      placeholder='Verwersdijk 102'
      value={_member.address || ''}
      disabled={loading}
      on:change="fieldChange('address', event)"
    />

    <InputGroup label='' horizontal>
      <TextField horizontal
        label='Zipcode'
        placeholder='2611NK'
        value={_member.zipcode || ''}
        disabled={loading}
        on:change="fieldChange('zipcode', event)"
      />
      <TextField horizontal
        label='City'
        placeholder='Delft'
        value={_member.city || ''}
        disabled={loading}
        on:change="fieldChange('city', event)"
      />
    </InputGroup>

    <TextField horizontal
      label='Country'
      placeholder='Nederland'
      value={_member.country || ''}
      disabled={loading}
      on:change="fieldChange('country', event)"
    />
  </fieldset>

  <div class="buttons is-right">
    <button type=submit class="button is-link" class:is-loading='loading' disabled="{loading}">Submit</button>
  </div>
  <pre>
    {JSON.stringify(memberEdit, null, 2)}
  </pre>
</form>

<style>
  fieldset {
    padding: 1em;
    padding-top: 0;
    margin: 1em 0;
    border: 2px solid #0000001a;

  }
</style>

<script>
import {
  TextField,
  DateField,
  EmailField,
  InputGroup,
  // InputControl,
} from 'svelte-bulma-forms/module'

import { goto } from '../../__sapper__/client.js'

export default {
  components: {
    TextField, 
    EmailField,
    InputGroup,
    // InputControl,
  },
  data() {
    return {
      memberEdit: {}
    }
  },
  computed: {
    _member: ({ memberEdit, member }) => ({
      ...member,
      ...memberEdit
    })
  },
  methods: {
    async submitForm(ev) {
      ev.preventDefault()
      ev.stopPropagation()

      const { memberEdit } = this.get()
      this.set({ loading: true })

      console.log("Trying submit")
      const res = await this.fire('submit', memberEdit)
      console.log("Done submitting")

      // const res = await this.store.addMember(memberEdit)
      this.set({ loading: false })

      // console.log("Added member:", memberEdit, res)

    },
    fieldChange(name, value) {
      const { memberEdit } = this.get()
      this.set({
        memberEdit: {
          ...memberEdit,
          [name]: value
        }
      })
    }
  }
}
</script>