
{#if $permissions.includes('member:update')}
<div class="buttons is-right">
  {#if member.isMember}
    <button class="button" on:click='removeMemberRole()' class:is-loading='submittingMembership'>Make old member</button>
  {:else}
    <button class="button" on:click='addMemberRole()' class:is-loading='submittingMembership'>Make member</button>
  {/if}
</div>
{/if}

<form on:submit|preventDefault|stopPropagation='submitForm()'>
<div class="tile is-ancestor is-vertical">
  <div class='tile is-parent'>
    <div class="tile is-child box content">
      <h1 class='title'>
        {member.name}
        {#if canEdit}
          {#if openForms.has('identity')}
            <button type='button'
              class="button is-medium"
              on:click="closeForm('identity')"
            >
              <span class="icon">
                <i class="fas fa-times"></i>
              </span>
            </button>
          {:else}
            <button type='button'
              class="button is-medium"
              on:click="openForm('identity')"
            >
              <span class="icon">
                <i class="fas fa-edit"></i>
              </span>
            </button>
          {/if}
        {/if}
      </h1>
      {#if openForms.has('identity')}
        {#if $permissions.includes('board:update_member')}
          <Form
            loading={submittingForm}
            data={member}
            bind:changes='identityChanges'
            fields={identityBoardFields}
            showButtons={false}
          />
        {:else}
          {#if member.firstname || member.lastname}
            <p>{member.firstname || ''} {member.lastname || ''}</p>
          {/if}
          <Form
            loading={submittingForm}
            data={member}
            bind:changes='identityChanges'
            fields={identityFields}
            showButtons={false}
          />
        {/if}
      {:else}
        {#if member.firstname || member.lastname}
          <p>{member.firstname || ''} {member.lastname || ''}</p>
        {/if}
        {#if member.email}
          <p><label>Email:</label><a href='mailto:{member.email}'>{member.email}</a></p>
        {/if}
        {#if member.phone}
          <p><label>Phone:</label><a href='tel:{member.phone}'>{member.phone}</a></p>
        {/if}

        <p>
          <MemberStatusField row={member} />
<!--           {#if memberStatus.status === 'retired'}
            Lid van: {memberStatus.start.format('D MMM YYYY')} tot {memberStatus.end.format('D MMM YYYY')}
          {:elseif memberStatus.status === 'future'}
            Lid vanaf: {memberStatus.start.format('D MMM YYYY')}
          {:elseif memberStatus.status === 'current'}
            Lid sinds: {memberStatus.start.format('D MMM YYYY')}
          {:else}
            Aspirant lid
          {/if} -->
        </p>

      {/if}
    </div>

    <div class="tile is-child box">
      <h1 class='title'>
        Address
        {#if canEdit}
          {#if openForms.has('address')}
            <button type='button'
              class="button is-medium"
              on:click="closeForm('address')"
            >
              <span class="icon">
                <i class="fas fa-times"></i>
              </span>
            </button>
          {:else}
            <button type='button'
              class="button is-medium"
              on:click="openForm('address')"
            >
              <span class="icon">
                <i class="fas fa-edit"></i>
              </span>
            </button>
          {/if}
        {/if}
      </h1>
      {#if openForms.has('address')}
        <Form
          loading={submittingForm}
          bind:changes='addressChanges'
          data={member}
          fields={addressFields}
          showButtons={false}
        />
      {:else}
        <p>{member.address || ''}</p>
        <p>{member.zipcode || ''} {member.city || ''}</p>
        <p>{member.country || ''}</p>
      {/if}
    </div>
  </div>

  <div class='tile is-parent'>
    <div class='tile is-child box is-6 roles'>
      <h1 class='title'>
        Roles
      </h1>
      <Select
        Item={RoleSelectItem}
        items={roles}
        isMulti={true}
        isDisabled={!$permissions.includes('member_roles:create')}
        isClearable={false}
        isWaiting={rolesLoading}
        placeholder='Select roles'
        getSelectionLabel={(option) => option.name}
        getOptionLabel={(option) => option.name}
        bind:selectedValue='selectedRoles'
      ></Select>

      {#if member.member_roles}
      <h2 class=subtitle>History</h2>
      <ul>
        {#each member.all_member_roles as memberRole}
          <li>
            {memberRole.role.name} ({
              (v => v ? v.format('D-M-YY') : '')(parseValidity(memberRole.validity).start)
            } - {
              (v => v ? v.format('D-M-YY') : '')(parseValidity(memberRole.validity).end)
            })
          </li>
        {/each}
      </ul>
      {/if}
    </div>

    {#if isSelf}
      <div class='tile is-child box is-6'>
        <h1 class='title'>
          Password
        </h1>
        <div class="field has-addons">
          <p class="control">
            {#if showPassword}
              <input disabled={passwordSaving} class="input" type='text' bind:value='password'>
            {:else}
              <input disabled={passwordSaving} class="input" type='password' bind:value='password'>
            {/if}
          </p>
          <p class="control">
            <button type='button' class="button" on:click='set({ showPassword: !showPassword})'>
              <span class="icon is-small">
                <i class="fa fa-{showPassword ? 'eye-slash' : 'eye'}" />
              </span>
            </button>
          </p>
        </div>
      </div>
    {/if}
  </div>
</div>

{#if showSaveBar}
  <div class="save-all buttons is-right">
    <button
      type='reset'
      class="button"
      class:is-loading='loading'
      disabled="{loading}"
      on:click="resetForm()"
    >Cancel</button>

    <button
      type='submit'
      class="button
      is-primary"
      class:is-loading='loading'
      class:is-disabled='formsDirty'
      disabled="{!formsDirty}"
    >Save</button>
  </div>
{/if}
</form>

<style>
  .tile.is-child {
    padding: 0.5rem;
  }
  .title {
    display: flex;
    justify-content: space-between;
  }
  .box:hover .title .button {
    background-color: #8A4D76;
    border-color: transparent;
    color: #fff;
  }

  .roles :global(.selectContainer.disabled),
  .roles :global(.selectContainer.disabled:hover) {
    background: transparent;
    border: none;
  }
  .roles :global(.multiSelectItem),
  .roles :global(.multiSelectItem:hover) {
    background: #8A4D76;
    color: white;
  }

  .save-all {
    background: #8A4D76;
    position: sticky;
    padding: 0.5rem;
    bottom: 0;
  }
  .save-all button {
    margin: 0;
  }

  .box:hover {
    background: #ffe1f4;
  }
</style>


<script>
  import gql from 'graphql-tag'
  import RoleSelectItem from './RoleSelectItem.html'

  import { parseValidity } from 'src/lib/member'

  function mapToObject(obj) {
    const res = Array.from(obj.entries())
      .reduce((acc, [key, value]) => {
        acc[key] = value
        return acc
      }, {})
    return res
  }

  export default {
    computed: {
      memberRoles: ({ member }) => member.member_roles.map(ur => ur.role),
      isSelf: ({ $user, member: { name } }) => $user && ($user.name === name),
      showSaveBar: ({ rolesDirty, openForms, formsDirty }) =>
        rolesDirty || openForms.size > 0 || formsDirty,
      formsDirty: ({ rolesDirty, identityChanges, addressChanges, password }) =>
        rolesDirty || (identityChanges.size > 0) || (addressChanges.size > 0) || (password !== ''),
      rolesDirty: ({ selectedRoles = [], memberRoles }) => (
        (selectedRoles.length !== memberRoles.length)
        || selectedRoles.some(r => !memberRoles.some(mr => mr.name === r.name))
      ),
      canEdit: ({ isSelf, $permissions }) => isSelf || $permissions.includes('member:update'),
    },
    components: {
      Form: './Form.html',
      Select: 'svelte-select',
      MemberStatusField: 'src/components/MemberStatusField.html'
    },
    helpers: {
      parseValidity
    },
    data () {
      return {
        RoleSelectItem,
        showPassword: false,
        password: '',
        openForms: new Set(),
        roles: [],
        rolesLoading: true,
        addressChanges: new Map(),
        identityChanges: new Map(),
        addressFields: [
          {
            name: 'address',
            required: true,
            label: 'Address',
            placeholder: 'Verwersdijk 102',
          }, {
            name: 'zipcode',
            label: 'Zipcode',
            placeholder: '2611 NK',
          }, {
            name: 'city',
            label: 'City',
            placeholder: 'Delft',
          }, {
            name: 'country',
            label: 'Country',
            placeholder: 'Nederland',
          }
        ],
        identityFields: [
          {
            type: 'email',
            name: 'email',
            required: true,
            label: 'Email',
            placeholder: 'wikkert@wolbodo.nl',
          }, {
            name: 'phone',
            label: 'Phone',
            placeholder: '+31 000 0000 000',
          }
        ],
        identityBoardFields: [
          {
            name: 'firstname',
            label: 'Name',
            placeholder: 'Wikkert',
          }, {
            name: 'lastname',
            label: 'Surname',
            placeholder: 'Olbodo',
          }, {
            type: 'email',
            name: 'email',
            required: true,
            label: 'Email',
            placeholder: 'wikkert@wolbodo.nl',
          }, {
            name: 'phone',
            label: 'Phone',
            placeholder: '+31 000 0000 000',
          }
        ]
      }
    },
    methods: {
      async submitForm() {
        let permission = 'member:update'
        const {
          member,
          isSelf, password,
          addressChanges, identityChanges,
          rolesDirty,
        } = this.get()
        const { permissions } = this.store.get()

        const changes = new Map([...addressChanges, ...identityChanges])


        if (isSelf && password) {
          changes.set('password', password)
          permission = 'member:update_self'
        }

        if (changes.size !== 0) {
          console.log("Submit:", changes)
          this.set({ submittingForm: true })

          await this.store.updateMember(
            member.id,
            mapToObject(changes),
            permission
          )
        }
        if (permissions.includes('member_roles:create') && rolesDirty) {
          await this.saveRoles()
        }
        this.store.notify('success', `Member (${member.name}) updated`)

        this.resetForm()
      },
      resetForm () {
        const { member } = this.get()
        this.set({
          submittingForm: false,
          password: '',
          openForms: new Set(),
          addressChanges: new Map(),
          identityChanges: new Map(),
          selectedRoles: member.member_roles.map(ur => ur.role).map(r => ({...r, value: r.id}))
        })
      },
      async saveRoles () {
        this.set({ rolesSaving: true })

        const { selectedRoles = [], memberRoles, member } = this.get()
        const toDelete = memberRoles.filter(mr => !selectedRoles.some(sr => sr.name === mr.name))
        const toAdd = selectedRoles.filter(sr => !memberRoles.some(mr => sr.name === mr.name))

        try {
          const res = await this.store.gqlMutation({
            mutation: gql`mutation updateRoles($memberId: Int!, $delRoleIds: [Int!]!, $addRoles: [member_role_insert_input!]!) {
              delete_member_role(where:{
                member_id: { _eq: $memberId },
                role_id: { _in: $delRoleIds }
              }) {
                affected_rows
              }
              insert_member_role(objects:$addRoles) {
                affected_rows
              }
            }`,
            variables: {
              memberId: member.id,
              delRoleIds: toDelete.map(r => r.id),
              addRoles: toAdd.map(r => ({
                member_id: member.id,
                role_id: r.value
              }))
            },
            permission: 'member_roles:create'
          })
        } catch (e) {
          console.error('Err:', e)
        }
        this.set({ rolesSaving: false })
      },
      openForm(name) {
        console.log("Open form:", name)
        const { openForms } = this.get()
        openForms.add(name)
        this.set({ openForms })
      },
      async savePassword (password) {
        const { member } = this.get()
        this.set({ passwordSaving: true })
        console.log("New password:", password)

        await this.store.updateMember(
          member.id,
          { password }, 'member:update_self'
        )
        this.set({ passwordSaving: false, password: '' })
      },
      closeForm(name) {
        const { openForms } = this.get()
        openForms.delete(name)
        this.set({ openForms })
      },
      async removeMemberRole () {
        const { member } = this.get()
        this.set({ submittingMembership: true })
        console.log("Submitting")
        try {

        await this.store.gqlMutation({
          mutation: gql`mutation ($memberId: Int!) {
            delete_member_role(where:{
              member_id: { _eq: $memberId }
              role: { name: { _eq: "member"}}
            }) {
              affected_rows
            }
          }`,
          variables: {
            memberId: member.id
          },
          permission: 'member:update'
        })
        } catch (e) {
          console.error(e)
        }
        console.log("Done")
        this.set({ submittingMembership: false })
      },
      async addMemberRole () {
        const { roles, member } = this.get()
        const [ memberRole, ] = roles.filter(r => r.name === 'member')

        this.set({ submittingMembership: true })
        await this.store.gqlMutation({
          mutation: gql`mutation addMemberRole($memberId: Int!, $roleId: Int!) {
            insert_member_role(objects:{
              member_id:$memberId,
              role_id:$roleId
            }) {
              affected_rows
            }
          }`,
          permission: 'member:update',
          variables: {
            memberId: member.id,
            roleId: memberRole.value
          }
        })
        this.set({ submittingMembership: false })
      },
    },
    oncreate () { 
      this.store.allRoles()
        .then(roles => roles.map(({ id, name, description }) => ({ value: id, name, description })))
        .then(roles => this.set({ rolesLoading: false, roles }))
        .then(roles => console.log("Roles loaded:", roles))
        .catch(e => console.error(e))

      const { member } = this.get()
      this.set({
        selectedRoles: member.member_roles.map(ur => ur.role).map(r => ({...r, value: r.id}))
      })

      // Update selectedRoles when member is updated
      this.on('state', ({ changed, current }) => {
        if (changed.memberRoles) {
          this.set({
            selectedRoles: current.memberRoles.map(r => ({...r, value: r.id}))
          })
        }
      })
    }
  }
</script>