<a href='/members/{slugify(row.name)}' rel=prefetch>
  {@html value}
</a>

<script>
  import slugify from 'src/lib/slugify'
  import highlight from 'src/lib/fuzzy-highlight'

  export default {
    computed: {
      value: ({ result, row }) => {
        if (result && result.length) {
          return highlight(result[0], row.name)
        } else {
          return row.name
        }
      }
    },
    data () {
      return {
        result: undefined
      }
    },
    helpers: {
      slugify,
    }
  }
</script>