{#if edit}
<form on:submit|preventDefault|stopPropagation='addRole()'>
  <div class="field has-addons">
    <p class="control">
      <span class="select is-loading is-small" class:is-loading='rolesLoading'>
        <select disabled={rolesLoading} bind:value='selectedRole'>
          <option value=''>Add a new role</option>
          {#each rolesFiltered as role}
            <option value={role.id}>{role.name}</option>
          {/each}
        </select>
      </span>
    </p>
    {#if selectedRole}
      <p class="control">
        <button type=submit class='button is-small' class:is-loading='addRoleSubmitting'>Add selected role</button>
      </p>
    {/if}
  </div>
</form>
{/if}

<section class='tags'>
  {#each roles as role}
    <span class="tag is-medium is-primary" class:edit="edit">
      {role.name}
      {#if edit}
      <button
        class="button is-primary is-small"
        class:is-loading='removingRoles.has(role.id)'
        on:click='removeRole(role.id)'
      >
        <span class="icon">
          <i class="fa fa-times fs-sm"></i>
        </span>
      </button>
      {/if}
    </span>
  {/each}
</section>


<style>
  .tag.edit  {
    padding-right: 0;
  }
  .tag.edit .button {
    margin-left: 0.4rem;
  }

</style>


<script>
  export default {
    computed: {
      roleNames: ({ roles }) => roles.map(r => r.name),
      rolesFiltered: ({ allRoles, roleNames }) => (
        allRoles
          ? allRoles.filter(r => !roleNames.includes(r.name))
          : []
      )
    },
    data () {
      return {
        edit: true,
        rolesLoading: true,
        removingRoles: new Set()
      }
    },
    methods: {
      async addRole() {
        const { memberId, selectedRole } = this.get() 
        this.set({ addRoleSubmitting: true })
        await this.store.addMemberRole(memberId, selectedRole)
        this.set({ addRoleSubmitting: false, selectedRole: '' })
      },
      async removeRole(roleId) {
        const { removingRoles, memberId } = this.get()
        console.log("removing role:", roleId)
        removingRoles.add(roleId)
        this.set({ removingRoles })
        await this.store.removeMemberRole(memberId, roleId)
        removingRoles.delete(roleId)
        this.set({ removingRoles })
      }
    },
    oncreate () {
      this.store.allRoles()
        .then(allRoles => this.set({ rolesLoading: false, allRoles }))
        .catch(e => console.error(e))
    }
  }
</script>