
<div class="buttons has-addons is-right">
  <a href='/members/{member.name}/edit' class="button">Edit</a>
</div>

<div class="tile is-ancestor is-vertical">
  <div class='tile is-parent'>
    <div class="tile is-child box">
      <h1 class='title'>{member.name}</h1>
      {#if member.fullname}
        <p>{member.fullname}</p>
      {/if}
      {#if member.email}
        <a href='mailto:{member.email}'>{member.email}</a>
      {/if}
      {#if member.phone}
        <a href='tel:{member.phone}'>{member.phone}</a>
      {/if}
    </div>

    <div class="tile is-child box">
      <h2 class='title'>Address</h2>
      <p>{member.streetname} {member.housenumber} {member.housenumberaddon || ''}</p>
      <p>{member.zipcode} {member.city}</p>
      <p>{member.country}</p>
    </div>
  </div>

  <div class='tile is-parent'>
    <div class='tile is-child'>
      <MemberRoles
        memberId={member.id}
        roles={memberRoles}
      />
    </div>
  </div>
</div>

<pre>{JSON.stringify(member, null, 2)}</pre>

<script>
  export default {
    computed: {
      memberRoles: ({ member }) => member.member_roles.map(ur => ur.role),
    },
    components: {
      MemberRoles: './MemberRoles.html'
    }
  }
</script>