
{#if status.status === 'retired'}
  <span class="tag is-small is-info">
    Old member
  </span>
{:elseif status.status === 'future'}
  <span class="tag is-small is-warning">
    Future member
  </span>
{:elseif status.status === 'current'}
  <span class="tag is-small is-success">
    Member
  </span>
{:elseif status.status === 'aspiring'}
  <span class="tag is-small is-danger">
    Aspiring member
  </span>
{:else}
  <span class="tag is-small is-danger">
    ???
  </span>
{/if}

<script>
  import moment from 'moment'

  export default {
    helpers: {
      moment
    }
  }
</script>