<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/wolbodo.png" alt='logo' width="112" height="28">
    </a>

    <a role="button" href='open-menu'
    	class="navbar-burger burger"
    	class:is-active="navbarOpen"
    	on:click|stopPropagation|preventDefault="set({navbarOpen: !navbarOpen})"
    	aria-label="menu"
    	aria-expanded="false"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-content" class="navbar-menu" class:is-active="navbarOpen">
    <div class="navbar-start">

      {#if $permissions.includes('mail:read')}
        <a class="navbar-item" href='/mails' rel=prefetch>
          Mails
        </a>
      {/if}

      <nav class="navbar-item breadcrumb" aria-label="breadcrumbs">
        <ul>
          {#each breadcrumbs as crumb, i}
            <li>
              {#if breadcrumbs.length - 1 === i}
                <a class='is-active' href="{crumb.path}" rel='preload' aria-current="page">
                  {crumb.name}
                </a>
              {:else}
                <a href="{crumb.path}" rel='preload'>
                  {crumb.name}
                </a>
              {/if}
            </li>
          {/each}
        </ul>
      </nav>
    </div>


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {#if $loggedIn}
            {#if $user}
            <a href='/members/{slugify($user.name)}' rel=prefetch class="button">
              {$user.name}
            </a>
            {/if}
            <button class="button is-primary" class:is-loading='loading' disabled="{loading}" on:click='logout()'>
              Log out
            </button>
          {/if}
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  import slugify from 'src/lib/slugify'

	export default {
    computed: {
      breadcrumbs: ({ child: { props: { path = '' }}}) =>
        path.split('/')
          .splice(1)
          .map((name, i, arr) => ({ name, path: `/${[...arr.splice(0,i), name].join('/')}` }))
    },
		data () {
			return {
				navbarOpen: false
			}
		},
    helpers: {
      slugify
    },
    methods: {
      async logout () {
        try {
          this.set({ loading : true })
          await this.store.logout()
          this.set({ loading : false })
        } catch (e) {
          this.set({ loading : false })
          console.error("Error:", e)
        }
      }
    }
	}
</script>