<table>
  <thead>
    <tr>
      {#each columns as column}
        <th>{column}</th>
      {/each}
    </tr>
  </thead>
  <tbody>
    {#if !data.length}
      <tr><td>No users found.</td></tr>
    {:else}
      {#each filteredData as row (row.id)}
        <tr on:click="gotoRow(row)"
            style="{ (row.distance != undefined) && `background: rgba(0, 255, 150, ${1/(row.distance+1)})`}">
            <!-- style="background: rgba(0, 255, 150, {1/getDistance(filter, row.name)})"> -->
          {#each columns as column}
            <td>{row[column]}</td>
          {/each}
        </tr>
      {/each}
    {/if}
  </tbody>
</table>

<style>
  table {
    width: 100%;
    text-align: left;
    line-height: 2em;
    border-spacing: 0;
  }

  td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: .5em;
  }
</style>

<script>
  import { goto } from '../../__sapper__/client.js'
  import * as levenshtein from 'fast-levenshtein'

  export default {
    data() {
      return {
        filter: ''
      }
    },
    computed: {
      filteredData: ({ data, filter }) => {
        if (filter.length > 1) {
          return data.map(user => ({
            ...user,
            distance: levenshtein.get(filter.toLowerCase(), user.name.toLowerCase())
          })).sort((a, b) => a.distance - b.distance)
        }
        return data
      }
    },
    methods: {
      gotoRow(row) {
        const { rowUrl } = this.get()

        if (rowUrl) {
          goto(rowUrl(row))
        } 
      }
    }
  }
</script>