<table class='table is-fullwidth'>
  <thead>
    <tr>
      {#each columns as column}
        <th>{column.name}</th>
      {/each}
    </tr>
  </thead>
  <tbody>
    {#if !data.length}
      <tr><td>No members found.</td></tr>
    {:else}
      {#each filteredData as row (row.id)}
        <tr style="{ (row.distance != undefined) && `background: rgba(0, 255, 150, ${1/(row.distance+1)})`}">
          {#each columns as column}
            <td>
              {#if column.component}
                {#if column.props}
                  <svelte:component this={column.component} {...column.props(row)} />
                {:else}
                  <svelte:component this={column.component} {row} {column} />
                {/if}
              {:elseif column.field instanceof Function}
                {column.field(row)}
              {:else}
                {#if row[column.field] === null}
                  <span class='has-size-2 has-text-grey-lighter'>ø</span>
                {:else}
                  {row[column.field]}
                {/if}
              {/if}
            </td>
          {/each}
        </tr>
      {/each}
    {/if}
  </tbody>
</table>

<style>
  tr:hover {
    background-color: #C6F4D5;
    color: #000;
  }
</style>

<script>
  import { goto } from '../../__sapper__/client.js'
  import * as levenshtein from 'fast-levenshtein'

  export default {
    data() {
      return {
        filter: ''
      }
    },
    helpers: {
      Function
    },
    computed: {
      filteredData: ({ data, filter }) => {
        if (filter.length > 1) {
          return data.map(member => ({
            ...member,
            distance: levenshtein.get(filter.toLowerCase(), member.name.toLowerCase())
          })).sort((a, b) => a.distance - b.distance)
        }
        return data
      }
    }
  }
</script>