<input
  type="text"
  placeholder="Zoek..."
  bind:value="filter">

<table>
  <caption>Wolbodo leden:</caption>
  <thead>
    <tr>
      {#each columns as column}
        <th>{column}</th>
      {/each}
    </tr>
  </thead>
  <tbody>
    {#if !data.length}
      <tr><td>No users found.</td></tr>
    {:else}
      {#each filteredData as row (row.id)}
        <tr on:click="gotoRow(row)"
            style="background: rgba(0, 255, 150, {1/row.distance})">
          {#each columns as column}
            <td>{row[column]}</td>
          {/each}
        </tr>
      {/each}
    {/if}
  </tbody>
</table>

<style>
  table {
    width: 100%;
    text-align: left;
    line-height: 2em;
    border-spacing: 0;
  }

  td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: .5em;
  }
</style>

<script>
  import { goto } from '../../__sapper__/client.js'
  import * as levenshtein from 'fast-levenshtein'

  export default {
    data() {
      return {
        filter: ''
      }
    },
    computed: {
      filteredData: ({ data, filter }) => {
       return data.map((user) => {
          user.distance = levenshtein.get(filter, user.name)
          return user;
        }).sort((a, b) => a.distance - b.distance);
      }
    },
    methods: {
      gotoRow(row) {
        const { rowUrl } = this.get()

        if (rowUrl) {
          goto(rowUrl(row))
        } 
      }
    }
  }
</script>