
<section>
  <section>
    <h1>{user.name}</h1>
    <label>{user.fullname}</label>
    <label>{user.email}</label>
    <label>{user.phone}</label>
  </section>
  <section>
    <h2>Address:</h2>
    <label>{user.streetname} {user.housenumber} {user.housenumberaddon}</label>
    <label>{user.city} {user.country}</label>
    <label>{user.zipcode}</label>
  </section>
  <section>
    <h2>Roles</h2>
    <ul>
      {#each user.user_roles as ur}
        <li>{ur.role.name}</li>
      {/each}
    </ul>
  </section>
</section>

