
<section>
  <section>
    <h1>{user.name}</h1>
    {#if user.fullname}
      <p><label>Fullname</label>: {user.fullname}</p>
    {/if}
    {#if user.email}
      <p><label>Email</label>: {user.email}</p>
    {/if}
    {#if user.phone}
      <p><label>Phone</label>: {user.phone}</p>
    {/if}
  </section>
  <section>
    <h2>Address:</h2>
    <p><label>Address</label>: {user.streetname} {user.housenumber} {user.housenumberaddon || ''}</p>
    <p><label>Location</label>: {user.city} {user.country}</p>
    <p><label>ZipCode</label>: {user.zipcode}</p>
  </section>
  <section>
    <h2>Roles</h2>
    {#if $roles.includes('admin')}
      Edit
      <ul>
        {#each user.user_roles as ur}
          <li>{ur.role.name}</li>
        {/each}
      </ul>
    {:else}
      <ul>
        {#each user.user_roles as ur}
          <li>{ur.role.name}</li>
        {/each}
      </ul>
    {/if}
  </section>
</section>

<pre>{JSON.stringify(user, null, 2)}</pre>
