<form on:submit="save(event)">
  <TextField horizontal
    label='Alias'
    placeholder='Thatcher'
    value={_user.name || ''}
    on:change="fieldChange('name', event)"
  >
    <TextField horizontal
      label='Full name'
      placeholder='Thatcher Peskens'
      value={_user.fullname || ''}
      on:change="fieldChange('fullname', event)"
    />
  </TextField>
  <EmailField horizontal
    label='Email'
    placeholder='thatcher@example.com'
    value={_user.email || ''}
    on:change="fieldChange('email', event)"
  />
  <TextField horizontal
    label='Phone'
    placeholder='+31 000 0000 000'
    value={_user.phone || ''}
    on:change="fieldChange('phone', event)"
  />

  <TextField horizontal
    label='Street'
    placeholder='Dorpstraat'
    value={_user.streetname || ''}
    on:change="fieldChange('streetname', event)"
  >
    <TextField horizontal
      label='Number'
      placeholder='42'
      value={_user.housenumber || ''}
      on:change="fieldChange('housenumber', event)"
    />
    <TextField horizontal
      label='Addon'
      placeholder='A'
      value={_user.housenumberaddon || ''}
      on:change="fieldChange('housenumberaddon', event)"
    />
  </TextField>
  
  <TextField horizontal
    label='Zipcode'
    placeholder='2134AA'
    value={_user.zipcode || ''}
    on:change="fieldChange('zipcode', event)"
  >
    <TextField horizontal
      label='City'
      placeholder='Harare'
      value={_user.city || ''}
      on:change="fieldChange('city', event)"
    />
  </TextField>

  <TextField horizontal
    label='Country'
    placeholder='Zimbabwe'
    value={_user.country || ''}
    on:change="fieldChange('country', event)"
  />

  <input type="submit" value="Submit" />
  <pre>
    {JSON.stringify(userEdit, null, 2)}
  </pre>
</form>

<style>

tr > td:first-child {
  font-weight: bold;
}
</style>

<script>
import {
  TextField,
  DateField,
  EmailField,
  InputGroup,
  InputControl,
} from 'svelte-bulma-forms/module'

export default {
  components: {
    TextField, 
    EmailField,
    InputGroup,
    InputControl,
  },
  data() {
    return {
      userEdit: {}
    }
  },
  computed: {
    _user: ({ userEdit, user }) => ({
      ...user,
      ...userEdit
    })
  },
  methods: {
    save(event) {
      event.stopPropagation()
      event.preventDefault()

      const {userEdit} = this.get()
      this.store.addUser(userEdit)
    },
    fieldChange(name, value) {
      const { userEdit } = this.get()
      this.set({
        userEdit: {
          ...userEdit,
          [name]: value
        }
      })
    }
  }
}
</script>