@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Truculenta:wght@100;700&display=swap");

:root {
  --primary: #ff0088;
  --primary-dark: #9b6b85;
  --primary-accent: #b33a7a;
  --foreground: black;
  --background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ff0088;
    --primary-dark: #3f0022;
    --primary-accent: #ff56b0;
    --foreground: white;
    --background: black;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
  color: var(--foreground);
  font-size: 1em;
  height: 100%;
  background: var(--background);
}

body {
  height: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

#sapper {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 1000px;
  margin: auto;
  padding-top: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Truculenta", "Ubuntu", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

.form {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto auto;
}

.form > .error {
  grid-column-end: span 2;
}

.form > [type="submit"] {
  margin-top: 1em;
  grid-column-end: span 2;
}

.form label {
  text-align: end;
  align-self: center;
}
.form input {
  border: none;
  background: var(--background);
  color: var(--foreground);
  padding: 0.3rem;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--primary);
}
.form input:focus {
  outline: 1px solid var(--primary);
}

button {
  font-size: 1.5rem;
  background: var(--primary);
  border: none;
  color: var(--background);
}
button:disabled {
  background: var(--primary-dark);
}
